@using Microsoft.AspNetCore.Identity
@using CRUD_DbContext_RazorApp.models

@inject SignInManager<AppUser> _SignInManager
@inject UserManager<AppUser> _UserManager



<ul class="navbar-nav">
    @if (_SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-page="/Account/Manage/Index" asp-area="Identity">Xin chào @_UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-page="/Account/Logout" asp-area="Identity">Đăng xuất</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-primary" asp-page="/Account/Register" asp-area="Identity">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-page="/Account/Login" asp-area="Identity">Đăng Nhập</a>
        </li>
    }
</ul>