@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã được thiết lập lại. <a asp-page="./Login">Bấm vào đây để đăng nhập</a>.
</p>
